*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
header{
    width: 100%;
    height: max-content;
}
nav{
    width: 100%;
    height: 100px;
    background-color: rgb(44, 62, 80);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
nav .second-nav ul{
    list-style: none;
}
nav .second-nav ul li a,p{
    color: white;
    text-decoration: none;
}
nav .second-nav ul li{
    padding: 0px 10px;
}
.second-nav ul li a:hover {
    color:aqua;
    transition: 1s all 0.5s;
}
.hero{
    width: 100%;
    height: max-content;
    background-color: rgb(26, 188, 156);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
    gap: 20px 0px;
}
.hero ul,.ABOUT ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.star{
    width: 30px;
    height: 30px;
}
.hero ul li hr ,.ABOUT ul li hr{
    width: 110px;
    margin: 0 15px;
}
.personal{
    width: 250px;
    border-radius: 50%;
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.hero div{
    width: 245px;
    height: 245px;
    background-color: rgb(44, 62, 80);
    border-radius: 50%;
    position: relative;
}
.PROTFOLIO ,.CONTACT-ME{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    margin: 30px 0px;
}
.star1{
    width: 30px;
    height: 30px;
    color: rgb(44, 62, 80);
}
.PROTFOLIO ul li hr ,.CONTACT-ME ul li hr{
    width: 110px;
    margin: 0 15px;
    color: rgb(44, 62, 80);
}
.PROTFOLIO h2, .CONTACT-ME h2{
    color: rgb(44, 62, 80);
}
.second-PROTFOLIO div{
    width: 200px;
    height: 200px;
    margin: 30px ;
    padding: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second-PROTFOLIO div:hover{
    width: 220px;
    height: 220px;
    transition: 1s all 0.5s;
}
.second-PROTFOLIO div .ph:hover{
    width: 120px;
    height: 120px;
    transition: 1s all 0.5s;
}
.photo1{
    background-color: rgb(186, 76, 99);
}
.photo2{
    background-color: rgb(31,164 ,182);
}
.photo3{
    background-color: rgb(19,15 ,15);
}
.photo4{
    background-color: rgb(29,131 ,192);
}
.photo5{
    background-color: rgb(16,55 ,181);
}
.photo6{
    background-color: rgb(204,178 ,163);
}
.first-PROTFOLIO .ul-star,.CONTACT-ME ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.ph{
    width: 100px;
    height: 100px;
}
.second-PROTFOLIO{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 100px;
    margin:0px 100px;
}
.PROTFOLIO h2 , .ABOUT h2,.CONTACT-ME h2{
    padding: 20px 0px;
}
.ABOUT{
    width: 100%;
    height: max-content;
    background-color: rgb(26, 188, 156);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
    margin: 30px 0px;
}
.ABOUT a{
    text-decoration: none;
    border: 4px solid white;
    border-radius: 8px;
    padding: 20px;
    display: flex;
}
.second-about ul li {
    margin: 20px 0px;
    padding: 20px;
}
.download-icon{
    width: 20px;
    height: 20px;
    color: white;
    margin: 0px 10px ;
}
input,textarea{
    width: 640px;
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(108, 117, 167) ;
    padding: 30px 0px;
    margin: 20px 0px;
}
textarea{
    height: 100px;
}
button{
    width: 100px;
    height: 65px;
    border-radius: 8px;
    border: none;
    background-color: rgb(26, 188, 156);
    color: white;
}
.CONTACT-ME{
    padding: 100px 0px;
    margin: 30px 0px;
}

input::placeholder,textarea::placeholder{
    font-size: 1.2rem;
}
.parent{
    padding: 50px 0;
    width: 100%;
    height: max-content;
    background-color: rgb(44,62 ,80 );
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.parent2{
    width: 100%;
    height: max-content;
    background-color: rgb(26, 37, 47);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}
.child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.child h3{
    padding: 20px 0px;
}
.child p a{
    color: rgb(26, 188, 156);
}
.child ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.parent2 p span{
    border: 1px solid white;
    padding: 0 5px;
    border-radius: 50%;
}
.icon{
    width: 20px;
    height: 20px;
    padding: 20px;
    margin: 0px 10px;
    color: white;
    border: 2px solid white;
    border-radius: 100px;
}
.display-flex{
    display: flex;
}
@media screen and (max-width:700px) {
    .hero h1{
        font-size: 1.5rem;
    }
    .hero ul li hr ,.ABOUT ul li hr,.PROTFOLIO ul li hr ,.CONTACT-ME ul li hr{
        width: 70px;
    }
    .personal{
        width: 200px;
    }
    .hero div{
        width: 195px;
        height: 195px;
    }
    input,textarea{
        width: 260px;
    }
    .hero p{
        font-size: 0.8rem;
    }
}